body{
    align-self: center;
    text-align: center;
    align-content: center;
    background-color: #5a66b1;
}

img{
    width: 500px;
    height: 700px;
    border: 4px solid #ffffff;
    border-radius: 10px;
    margin: 10px;
}

h1{
    font-size:xx-large;
    color: aliceblue;
}

p{
    font-size:xx-large;
    color: aliceblue;
}
